<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LCScheduler.Properties.Settings.LCScheduleDataConnectionString" connectionString="Data Source=LCCSWORK002\SQLEXPRESS;Initial Catalog=LCScheduleData;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
